Teorias/Clase1/Clase 1_1_Cadenas.ipynb
Teorias/Clase1/Clase 1_1_Cadenas.mp4
Teorias/Clase1/Clase 1_1_Cadenas.pdf
Teorias/Clase1/Clase_1_Introducción (1).ipynb
Teorias/Clase1/Clase_1_Introducción (1).pdf
Teorias/Clase1/clase1 (1).mp4
Teorias/Clase2/Clase2_1_Funciones.ipynb
Teorias/Clase2/Clase2_1_Funciones.mp4
Teorias/Clase2/Clase2_1_Funciones.pdf
Teorias/Clase2/Clase2_2_Conjuntos.ipynb
Teorias/Clase2/Clase2_2_Conjuntos.mp4
Teorias/Clase2/Clase2_2_Conjuntos.pdf
Teorias/Clase2/Clase2_Secuencias_ Funciones (1).ipynb
Teorias/Clase2/Clase2_Secuencias_ Funciones.pdf
Teorias/Clase2/clase2.mp4
Teorias/Clase3/Clase3_Argumentos_lambda.ipynb
Teorias/Clase3/Clase3_Argumentos_lambda.pdf
Teorias/Clase4/Clase4_Archivos.ipynb
Teorias/Clase4/Clase4_Archivos.pdf
/Extra